  .onLine {
    background-color: green;
display: flex;
    /* align-self: center; */
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  
  .offLine {
    background-color: red;
    display: flex;
    /* align-self: center; */
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

.container {
    width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(234, 235, 179);
}

.friendItem {
width: 250px;
display: flex;
padding: 15px;
margin-bottom: 15px;
justify-content: space-around;
    align-items: center;
    list-style: none;
background-color: white;
border: 1px solid grey;
box-shadow: 7px 7px 7px rgb(155, 140, 140);
}

.avatar {
    border-radius: 5%;
}

.profileContainer {
    width: 400px;
    margin: 65px;
    text-align: center;
    background-color: rgb(255, 255, 255);
        padding: 25px;
}

.text {
    color: gray;
}

.stats {
        background-color: rgb(192, 245, 227);
        margin-top: 0;
        margin-bottom: -41px;
        margin-right: -25px;
        margin-left: -25px;
}

.statsList {
display: flex;
padding: 15px;
    list-style: none;
    justify-content: space-around;
}

.label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    color: gray;
}

.quantity {
    display: block;
    font-weight: 700;
}