.container {
    margin-left: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 15px;
    height: 100px;
    justify-content: space-between;
}

.inputName {
    margin-left: 10px;
}

.inputTel {
    margin-left: 33px;
}

.btn {
    width: 110px;
    margin-left: 70px;
}